.add_input_field_div {
  display: flex;
  flex-direction: row;
}

.input_field_div {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}

.input_group {
  border: 0.5em;
  border-style: groove;
  color: red;
  margin-bottom: 3vh;
}

.language_btn_div{
  // margin-right: 5vw ;
  display: flex;
  flex-direction: row;
}

.language_btn{
  margin-right: 1vw ;
}
